#wrapper{
     width: 100%;
     height: auto;
  margin: 0 auto;
  display: flex;
  gap: 1px;
  overflow-x: scroll;
  scroll-behavior: smooth;
  margin-top: 30px;
  z-index: -1000;
}
#wrapper::-webkit-scrollbar {
  display: none;
}
#Idiv{
     width: 500px;
  height: 500px;
  gap: 10px;
  position: relative;
}
#Idiv>div{
    width: 500px;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px; 
}
#Idiv>div img{
    max-width: 490px;
      max-height: 500px;
      z-index: -1000;
}

@media screen and (min-width: 768px) and (max-width: 1024px){
    #wrapper{
        width: 100%;
        height: auto;
       }
   
}
@media screen and (max-width: 768px){
    #wrapper{
     width: 100%;
     height: auto;
    }
       #Idiv>div img{
        width: 120%;
        height: 400;
        z-index: -1000;
       } 
 }