.cardItem_container {
  /* border: 1px solid green; */
  width: 100%;
  justify-content: space-between;
  border: 0.5px solid;
  padding: 2%;
}
.cartItem_container_details {
 
  display: flex;
  text-align: left;

  justify-content: space-between;

  padding: 2%;
  margin: auto;
}
.title {
  font-size: 14px;
  color: gray;
}
.price {
  display: flex;
  gap: 5px;
}
.price > span:first-child {
  font-weight: 700;
}
.price > span:last-child {
  text-decoration: line-through;
}
.price + p {
  color: green;
  margin-bottom: 20px;
}
.selectTag {
  display: block;
 
}
.selectTag>p{
    margin-bottom: 20px;
}
.cartItem_image {
  width: 30%;
}
.cartItem_image > img {
  width: 100%;
  height: 80%;
}

.stockLeft {
  text-align: left;
  margin-left: 10px;
  margin-bottom: 20px;
  color: red;
}
.button {
  display: flex;
}
.button > Button:first-child {
  width: 35%;
  background-color: white;
  border: 0.2px solid rgb(234, 224, 224);
}
.button > Button:last-child {
  width: 65%;
  background-color: white;
  border: 0.2px solid rgb(234, 224, 224);
}
