.cardItem_container{
   /* border: 1px solid green; */
   width: 100%;
   justify-content: space-between;
   
}
.cartItem_container_details{
   
    display: flex;
    text-align: left;
    
    justify-content: space-between;
    padding: 2%;
    
}
.title{
    font-size: 14px;
    color: gray;
}
.price{
    display: flex;
    gap: 5px;
}
.price>span:first-child{
    font-weight: 700;
}
.price>span:last-child{
    text-decoration: line-through;
}
.price+p{
    color: green;
    margin-bottom: 20px;
}
.selectTag{
    display: flex;
    gap: 10px;
}
.selectTag>select{
    /* border: 1px solid grey; */
    border-radius: 5px;
}
.cartItem_image>img{
   width: 100px;
}

.stockLeft{
    text-align: left;
    margin-left: 10px;
    margin-bottom: 20px;
    color: red;
}
.button{
    display: flex;
}
.button>Button:first-child{
    width: 35%;
    background-color: white;
    /* border: 1px solid gray; */
}
.button>Button:last-child{
    width: 65%;
    background-color: white;
    border: 1px solid gray;
}