.container {
    cursor: pointer;
}

.mid {
    margin-top: 20px;
    width: 100px;
}

.small {
    margin-top: 20px;
   display: flex;
   flex-direction: row;
   gap:15px;
   justify-content: center;
}

.small > img {
    width: 120px;
    border-radius: 10px;
}

.popular {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top:20px;
}


