#nav1 {
  display: flex;
  flex-direction: row;
  gap: 10px;
  width: 100%;
  height: 30px;
  background-color: #eeeeee;
  padding-left: 70px;
  align-items: left;
  Position:sticky;
  top:0;

}

#toplink {
  color: black;
  text-decoration: none;
  font-size: 13px;
  cursor: pointer;
  align-items: left;
}

#cont {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 50px;
  padding-left: 70px;
  align-items: center;
  cursor: pointer;
}

#logo {
  width: 150px;
  height: 30px;
  padding-left: -2px;
}

#products {
  margin-left: 40px;
  display: flex;
  flex-direction: row;
  gap: 20px;
  text-decoration: none;
 
}

#products > .cat :hover {
  background-color: #eeeeee;
  text-decoration: underline;
  text-underline-offset: 8px;
}

#ca {
  text-decoration: none;
  color: black;
  font-size: 18px;
  align-items: center;
}

#icon {
  text-decoration: none;
  color: black;
  font-size: 20px;
  align-items: center;
  margin-top: 5px;
}

#right-side {
  margin-left: 280px;
  display: flex;
  flex-direction: row;
  gap: 20px;
  padding:8px;
  width:10px;
}

#input {
  width: 260px;
  height: 30px;
  background-color: #eeeeee;
  border-radius: 10px;
  border: none;
  padding-left: 8px;
}

#mainProducts {
  position:sticky;
  top:10;
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: center;
  gap: 30px;
  height: 40px;
  align-items: center;
  cursor: pointer;
 
 
}
.category :hover {
  background-color: #eeeeee;
  text-decoration: underline;
  text-underline-offset: 8px;

}
#category1 :hover {
  background-color: #eeeeee;
  text-decoration: underline;
  text-underline-offset: 8px;
}

#ca1 {
    font-size: 22px;
    color: black;
    text-decoration: none;
}

#cart-icon {
  display: flex;
  padding-left: 2px;
  margin-top: 5px;
}


  