*{
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
    font-family: montserrat,sans-serif;
}
.Footer{
    width: 100%;
    height: auto;
    background-color: rgb(24,24,24);
  
}
.footer-box{
    width: 81%;
    height: auto;
    margin: auto;
    background-color: rgb(24,24,24);
}
.blank{
    width: 100%;
    height: 90px;
}
.footer-logo{
    width: 15%;
    height: 50px;
    margin-left: -20px;
    margin-bottom: 10px;
    cursor: pointer;
    background-color: #fdd835;
    display: flex;
    align-items: center;
    justify-content: center;
}
.footer-logo img{
    background-color: #FBD836;
    mix-blend-mode: multiply;
}
.list-box{
    width: 100%;
    height: auto;
    display: grid;
    margin-bottom: 70px;
    grid-template-columns: repeat(4,1fr);
}

.customer-heading{
    color: #fdd835;
    text-transform: uppercase;
    margin-bottom: 20px;
    letter-spacing: 1px;
    font-size: 12px;
    display: block;
}
.customer-box ul li{
    color: hsla(0,0%,100%,.9);
    font-size: 13px;
    line-height: 18px;
     list-style: none;
     margin-bottom: 5px;
}
.company-box{
    
}
.company-heading{
    color: #fdd835;
    text-transform: uppercase;
    margin-bottom: 20px;
    letter-spacing: 1px;
    font-size: 12px;
    display: block;
}
.company-box ul li{
    color: hsla(0,0%,100%,.9);
    font-size: 13px;
    line-height: 18px;
     list-style: none;
     margin-bottom: 5px;
}
.connect-box{
    
}
.connect-heading{
    color: #fdd835;
    text-transform: uppercase;
    margin-bottom: 20px;
    letter-spacing: 1px;
    font-size: 12px;
    display: block;  
}
.connect-box ul li{
    color: hsla(0,0%,100%,.9);
    font-size: 14px;
    line-height: 18px;
     list-style: none;
     display: flex;
     align-items: center;
     margin-bottom: 10px;
}
.social-link{
    gap: 10px;
    margin-top: 10px;
    font-size: 20px;
    size: 20px;
    cursor: pointer;
}
.links{
    font-size: 18px;
}
.keep-upto{

}
.keep-heading{
    color: #fdd835;
    text-transform: uppercase;
    margin-bottom: 20px;
    letter-spacing: 1px;
    font-size: 15px;
    display: block; 
}
.form-control{
    outline: none;
    background: transparent;
    border: none;
    border-bottom: 1px solid #fdd835;
    width: 55%;
    height: 34px;
}
.subscribe-button{
    width: 45%;
    background: #fdd835;
    border: 1px solid #fdd835;
    height: 34px;
    color: #000;
    padding: 0;
}
input[type=submit] {
    -webkit-appearance: button;
    cursor: pointer;
}
.last-box{
    width: 70%;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    
}
.last-box1{

}
.last-box1 ul li{
    color: hsla(0,0%,100%,.9);
    font-size: 14px;
    line-height: 18px;
     list-style: none;
     display: flex;
     align-items: center;
     margin-bottom: 10px;
     gap: 12px;
}

.last-box2-heading{
    color: #fdd835;
    text-transform: uppercase;
    margin-bottom: 20px;
    letter-spacing: 1px;
    font-size: 15px;
    display: block; 
}
.last-box2 ul li{
    list-style: none;
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    gap: 12px;
}
.store-image{
    width: 40%;
}
.last-box3{
  margin-bottom: 20px;  
}
.last-box3-heading{
    color: #fdd835;
    text-transform: uppercase;
    margin-bottom: 20px;
    letter-spacing: 1px;
    font-size: 15px;
    display: block; 
}
@media all and (min-width: 401px) and (max-width: 800px){
    .Footer{
        height: auto;
    }
    .footer-logo{
        width: 50%;
        height: 100px;
        margin-left: -20px;
        cursor: pointer;
    }
    .list-box{
        width: 100%;
        height: auto;
        display: grid;
        margin-bottom: 70px;
        grid-template-columns: repeat(2,1fr);
    }
    .last-box{
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: row;
      }
    
}

@media all and (min-width: 100px) and (max-width: 400px){
    .Footer{
        height: auto;
    }
    .footer-logo{
        width:80%;
        height: 100px;
        margin-left: -20px;
        cursor: pointer;
        overflow-y:scroll;
    }
    .list-box{
        width: 100%;
        height: auto;
        display: grid;
        margin-bottom: 70px;
        grid-template-columns: repeat(1,1fr);
    }
    .customer-box ul{
        display: inline-flex;   
        flex-wrap: wrap;
        gap: 10px;
      }
      .customer-box ul li{
        font-size: 15px;
      }
      .company-box ul{
        display: inline-flex;
        flex-wrap: wrap;
        gap: 10px;
      }
      .company-box ul li{
        font-size: 13px
      }
      span{
        display: none;
      }
      .connect-box ul{
        display: inline-flex;
        flex-wrap: wrap;
        gap: 10px;
      }
      .last-box{
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: row;
      }
}