nav{
  width: 100%;
  height: auto;
  position: fixed;
    top: 0;
    left: 0;
}
#nav-top {
  max-width: 100%;
  height: 27px;
  background-color: #eeeeee;
 
}
#top-sec {
  width: 96%;
  height: 100%;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#top-1 {
  width: 30%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
#top-1 ul {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
#top-1 ul li {
  list-style: none;
  font-size: 12px;
  font-weight: 500;
  font-family: montserrat, sans-serif;
  line-height: 10px;
  color: #333333;
  text-decoration: none solid rgba(0, 0, 0, 0.9);
  cursor: pointer;
}
#top-1 ul li:nth-child(3){
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3px;
}
#top-2 {
  width: 15%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
#top-2 ul {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
#top-2 ul li {
  list-style: none;
  font-size: 12px;
  font-weight: 500;
  font-family: montserrat, sans-serif;
  line-height: 10px;
  color: #333333;
  text-decoration: none solid rgba(0, 0, 0, 0.9);
  cursor: pointer;
}
#nav-bottom {
  width: 100%;
  height: 51px;
  border-bottom: 1px solid rgb(207, 203, 203);
  background-color: #ffff;
}
#nav-bottom-in {
  width: 96%;
  height: 100%;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#nav-bottom-in-1 {
  width: 15%;
  height: 100%;
}
#nav-bottom-in-2 {
  width: 35%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: left;
}
#nav-bottom-in-3 {
  width: 45%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#logo {
  width: 80%;
  height: 100%;
  margin: auto;
}
#logo img {
  margin: auto;
  height: 100%;
}
#nav-bottom-in-2 ul {
  width: 50%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: left;
  gap: 35px;
  margin-left: -30px;
}
#nav-bottom-in-2 ul li {
  text-align: left;
  list-style: none;
  font-size: 15px;
  font-weight: 500;
  letter-spacing: 2px;
  text-decoration: none;
  white-space: nowrap;
  font-family: montserrat, sans-serif;
  cursor: pointer;
}
#nav-bottom-in-2 ul li:hover{
    
}
#func {
  width: 40%;
}
#func ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#func ul li {
  list-style: none;
  font-size: 20px;
  cursor: pointer;
}
#func ul li:first-child {
  list-style: none;
  font-size: 18px;
  font-weight: 400;
  font-family: montserrat, sans-serif;
  color: #333333;
}
#func ul li:last-child > img {
  height: 50%;
  width: 50%;
  cursor: pointer;
}
#menu-btn {
  display: none;
}
#search {
  width: 60%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#search input[type="text"] {
  width: 95%;
  height: 35px;
  background-color: #eeeeee;
  border: none;
  padding-left: 8px;
  font-size: 12px;
  border-radius: 5px;
  outline: none;
}
#search input[type="text"]:focus {
  background-color: white;
  border: 1px solid rgb(236, 218, 218);
}
#search p {
  position: absolute;
  margin-left: 5px;
}
#sideMenu{
  display: none;
}
@media screen and (min-width: 768px) and (max-width: 1023px) {
  #top-1 {
    width: 40%;
  }
  #top-1 ul li {
    font-size: 10px;
    font-weight: 600;
  }
  #top-2 {
    width: 25%;
  }
  #top-2 ul li {
    font-size: 10px;
    font-weight: 600;
  }
  #menu-btn {
    display: none;
  }
  #nav-bottom-in{
    width: 100%;
  }
  #nav-bottom-in-2{
    width: 20%;
  }
  #nav-bottom-in-2 ul{
    gap: 15px;
  }
  #nav-bottom-in-3{
    width: 60%;
  }
  #search{
    width: 45%;
  }
  #func{
    width: 50%;
  }
  #sideMenu{
    display: none;
  }
}

@media screen and (max-width: 768px) {
  #nav-top {
    display: none;
  }
  #nav-bottom{
    width: 100%;
    background-color:#FBD836;
  }
  #nav-bottom-in{
    
    width: 98%;

}
#logo{
    background-color:#FBD836; 
}
#logo img{
    background-color: #FBD836;
    mix-blend-mode: multiply;
}
  #nav-bottom-in-2{
    display: none;
  }
  #nav-bottom-in-3{
    display: none;
  }
  #menu-btn{
    display: block;
    font-size: 25px;
    cursor: pointer;
  }
  #sideMenu{
    width: 40%;
    height: 350px;
    margin: auto;
    display: block;
    position: absolute;
    top: 50px;
    right:0px ;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    background-color: #FBD836;
  }
  #sideList{ 
    width: 80%;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
    list-style: none;
    margin-left: -20px;
    text-align: center;
   }
   #sideList ul li{
    color:black;
    text-align: center;
    text-decoration: none;
    font-size:18px;
    letter-spacing: 1px;
    font-weight: 800;
    font-family: montserrat, sans-serif;
   }
}
