*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:  montserrat-regular,sans-serif!important;
    background: transparent;
}
.product-box{
    /* width: 300px;
    height:500px; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    /* margin-bottom: 20px;    */
    
}
.product-image{
    width: 100%;
    height: 80%;
}
.product-image img{
    width: 100%;
     height: 100%;
     display: block;
     object-fit: cover; 
     border-radius: 10px; 
}

.product-image:hover{
    transform: scale(1.02);
    transform-origin: center;
    transition: transform 0.2s ease-in-out;
}
.product-info{
    width: 100%;
    height: 20%;
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: center;
    text-align: left;
    color: rgb(85, 83, 83);
    line-height: -10px;
    gap:3px;
}
.Product-brand{
    color: #2d2d2d;
    font-size: 12px;
    font-weight: 600;
    line-height: 15px;
    font-family: montserrat-semibold, sans-serif !important;
}
.product-title{
    overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
    font-size: 11px;
    font-weight: 500;
    line-height: 12px;
    color: #737373;
}
.price-box{
    width: 40%;
    display: inline-flex;
    gap: 5px;
}
.discounted-price{
    font-size: 15px;
    font-weight: 600;
    color: black;  
}
.regular-price{
    font-size: 12px;
    text-decoration: line-through;
}
.tribe-sec{
    width:47%;
    background-color: #f7f7f7;
}
.tribe-price{
    width: 100%;
    white-space: nowrap;
    font-size: 10px;
    color: #525252;
    font-weight: 600;
    padding-right: 3px;
    margin-left: 5px;
}
@media all and (min-width: 571px) and (max-width: 1080px){
    .product-box{
        width: auto;
        height:auto;
           margin: auto;
        
    }
}

@media all and (min-width: 310px) and (max-width: 570px){
    .product-box{
        width: 310px;
        height:500px;
           margin: auto;
    }
}