*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.men-section{
    
}
.product-div{
    width:87%;
    /* width:1205px; */
    height: auto;
    margin: auto;
    display:flex;  
    justify-content: space-around;
    position: relative;
 
}
.men-Clothing{
    width: 85%;
    margin: auto;
    text-align: left;
    margin-top: 50px;
    margin-bottom: 60px;

}
.men-Clothing h1{
    font-size: 30px;
    font-weight: 600;
    color: black;
    text-decoration: underline #FBD836 5px;
}
.product-list{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
}
.sidebar{
    width: 29%;
    margin-right: 20px;
}

@media screen and (min-width: 768px) and (max-width: 1023px){
    .product-div{
        width: 100%;
        margin: auto;
    }
    
    .product-list{
        width: 80%;
        margin: auto;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 10px;
    }
    .men-Clothing{
        display: none;
    }
}

@media screen and (max-width: 768px){
    .product-div{
        width: 100%;
        margin: auto;
        flex-direction: column;
    }
   .sidebar{
    width: 95%;
    height: auto;
    margin: auto;
    margin-bottom: 30px;
   }
    .product-list{
        width: 100%;
        margin: auto;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 10px;
    }
    .men-Clothing{
        display: none;
    }
}