.main{
    display: flex;
    width: 80%;
    justify-content: center;
    gap: 20%;
}

.leftside{
}

.leftside>img{
    
    height: 70vh;
}

header>p:first-child{
    font-size: 25px;
    font-family: montserrat-bold,sans-serif;
    font-weight:700;
}

header>p:last-child{
    font-size: 12px;
    font-family: montserrat-bold,sans-serif;
    font-weight:700;
}

form{
    display: flex;
    flex-direction: column;
    text-align: left;
    
}

