*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.product-div{
    width:1145px;
    height: auto;
    display:flex;  
    justify-content: space-between;
    margin: auto;
   position: relative;
}
.men-Clothing{
    width: 80%;
    margin: auto;
    margin-left: 20px; 
    text-align: left;

}
.product-list{
    width: 75%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
     
   
}
.sidebar{
    width: 23%;
}
@media (max-width: 940px){
    .product-div{
        width: 95%;
        margin: auto;
    }
    .sidebar{
       display: none;
    }
    .product-list{
        width: 100%;
        margin: auto;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 10px;
    }
}