*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.women-product-div{
    width:1145px;
    height: auto;
    display:flex;  
    justify-content: space-between;
    margin: auto;
   position: relative;
}
.women-Clothing{
    width: 80%;
    margin: auto;
    margin-left: 120px; 
    text-align: left;
    margin-top: 50px;
    margin-bottom: 60px;
}
.women-Clothing h1{
    font-size: 30px;
    font-weight: 600;
    color: black;
    text-decoration: underline #FBD836 5px;
}
.women-product-list{
    width: 75%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: -10px;
   
}
.women-sidebar{
    width: 26%;
    margin-right: 20px;
}
@media (max-width: 940px){
    .women-product-div{
        width: 95%;
        margin: auto;
    }
    .women-sidebar{
       display: none;
    }
    .women-product-list{
        width: 100%;
        margin: auto;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 10px;
    }
    .women-Clothing{
        display: none;
    }
}