.head {
  text-align: left;
  padding-left: 40px;
  font-size: 30px;
  font-weight: 600;
}

.box {
  display: flex;

}

.box_img {
  background-image: linear-gradient(to top right, #fff5c8, white);
  margin-left: 20px;
}

.right_box {
  margin-left: 100px;
}

.right_box > p {
  color: #828388;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

.formdiv {
  display: flex;
  text-align: center;
  align-items: center;
  height: 50px;
  border: 2px solid gray;
  border-radius: 5px;
}

.mob {
  display: flex;
  flex-direction: row;
  margin-left: 4px;
  margin-top: 6px;
}

.main_head {
  font-size: 30px;
  font-weight: 700;
  margin-bottom:30px;
}

.inp {
 
  width: 250px;
  height: 93%;
}

.btn {
  margin-top: 25px;
  width: 370px;
  height: 50px;
  background-color: #42a2a2;
  color: aliceblue;
  border: none;
  border-radius: 10px;
}

/* for SignUp */

.big {
  width: 100%;
  height: 570px;
  background-image: linear-gradient(to top right, #fff5c8, white);
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 100px;
}

.useCode {
  width: 21%;
  height: 400px;
 
}

.signup {
  width: 31%;
  padding: 40px;
  padding-top: 20px;
  background-color: white;
  text-align: left;
}

.t1 {
  font-size: 25px;
  font-weight: bold;
  padding-left: 22px;
  
}

.t2 {
  margin-top: 10px;
  font-size: 20px;
  font-weight: bold;
  padding-left: 22px;
}

.signForm {
  display: flex;
  flex-direction: column;
  height: 400px;
  gap: 30px;
  margin-top: 25px;
  margin-left: 30px;
}

.inp_box {
  border: 1px solid #828388;
  width: 100%;
  height: 40px;
  border-radius: 5px;
}

.sub {
  width: 100%;
  height: 50px;
  border-radius: 5px;
  background-color: #989898;
  color: white;
}
.inputs{
  width: 100%;
  height: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
}
input[type=email],select,textarea{
  width: 90%;
  height: 50px;
  margin: auto;
  font-size: 15px;
  border-bottom: 1px solid gray;
}
input[type=email]:focus{
  outline: none;
  border-bottom: 1px solid gray;
}
input[type=password],select,textarea{
  width: 90%;
  height: 50px;
  margin: auto;
  font-size: 15px;
  border-bottom: 1px solid gray;
}
.loginButton{
  width: 100%;
  height: 50px;
  background-color:#989898 ;
  border: none;
  border-radius: 5px;
  margin-top: 20px;
  color: white;
  font-size: 20px;
  letter-spacing: 1px;
}